<!-- Footer -->
<footer>
  <p>&copy; Copyright 2025 by <span>Lembonghouse</span></p>
  <div class="social">
    <a href="https://wa.me/6285314146969">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/ramampangtower/">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="http://tiktok.com/@mampangtower">
      <i class="fa-brands fa-tiktok"></i>
    </a>
    <a href="https://www.facebook.com/Ramampangtower">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.youtube.com/@ramampangtower">
      <i class="fa-brands fa-youtube"></i>
    </a>
    <a href="https://maps.app.goo.gl/WaDnQycMnqyPvmWK6">
      <i class="fa-solid fa-location-dot"></i>
    </a>
  </div>
</footer>
<!-- Footer -->
