<!-- Navbar -->
<div class="navbar">
  <script src="/dist/js/"></script>
  <div class="container">
    <div class="navbar-box">
      <div class="logo">
        <img href="index.html" src="/assets/logo.png" alt="Ra Mampang Office" />
      </div>
      <!-- Tambahan: Tombol hamburger untuk mobile -->
      <button class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#">Facilities & Service</a>
          <ul class="dropdown-menu">
            <li><a href="interior.html">Interior</a></li>
            <li><a href="exterior.html">Exterior</a></li>
            <li><a href="rental.html">Rental & Rate</a></li>
          </ul>
        </li>
        <li><a href="gallery.html">Gallery Photo</a></li>
        <li><a href="floorplan.html">Floor Plant</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li class="dropdown">
          <a href="#">Group</a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://www.rasimatupang.com"
                >RA Simatupang Service Apartment & Hotel</a
              >
            </li>
            <li>
              <a href="https://www.lembonghouse.com"
                >Lembonghouse, Rental House</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Navbar -->
